*{
	margin: 0;
	padding: 0;
}

.navbar {
  background-color: #e9ecef;
  top: 0;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 99;
  padding-right: 10px;
}

.navbar ul li a{
  color: darkslategray;
  margin-right: 30px;
  font-weight: bold;
}

.navbar ul li a:visited{
  color:darkslategray;
}

.navbar ul li a:hover{
  color: white;
  background-color: darkslategray;
  font-weight: bold;
}

h1{
  margin-top: 50px;
  text-align: center;
}

.counter{
  width: fit-content;
  margin: auto;
  text-align: center;
}

/* .infoDetail {
  width: 60%;
}

.detail {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.detail img {
  width: 400px;
  border-radius: 8px;
}

.detail .info {
  padding: 0px 10px;
}

.detail .infoDetail h2 {
  font-size: 35px;
  margin: 0px 0px 10px 0px;
}

.detail .infoDetail p {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300;
  margin: 5px 0px 10px 0px;
}

.detail .infoDetail h3 {
  font-size: 22px;
} */

.card_detail{
  max-width: 540px;
  width: auto;
  margin: auto;
} 





